@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=cyrillic');

* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    font: 400 14px/20px "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333333;
    background: #fff no-repeat left top;
}

.task-list-table th.w-10 {
    width: 12%
}
